:root {
    --background: #252525;
    --background-selected: #2c2c2c;
    --background-hover: #303030;
	--foreground: #383838;
	--foreground-hover: #474747;
	--highlight: #82b74bff;
    --highlight-hover: #8ac24e;

    --font-color: #e7e7e7;
    --link-color: #00bbff;
    --link-color_clicked: #005eff;

    --warning-red: #e24a4a;
}