:root {
  --srcery-black:          #1C1B19;
  --srcery-blue:           #2C78BF;
  --srcery-bright-black:   #918175;
  --srcery-bright-blue:    #68A8E4;
  --srcery-bright-green:   #98BC37;
  --srcery-bright-white:   #FCE8C3;
  --srcery-green:          #519F50;
  --srcery-hard-black:     #121212;
  --srcery-white:          #BAA67F;
  --srcery-xgray2:         #303030;


  --background: var(--srcery-black);
  --background-selected: #2c2c2c;
  --background-hover: #303030;

  --foreground: #58483b;

  --fore-accent: #332b24;
  --fore-accent-hover: #332b24;
  --fore-accent-selected: #251f1a;

  --highlight: #82b74bff;
  --highlight-hover: #8ac24e;

  --font-color: var(--srcery-bright-white);
  --link-color: var(--srcery-blue);
  --link-color_clicked: #005eff;

  --warning-red: #e24a4a;

  --page-borders: var(--srcery-xgray2);

  --toast-shadow: #151515;
}