/* :root {
  --font-color: #FCE8C3;

  --background: #918175;
  --background-selected: #2c2c2c;
  --background-hover: #303030;

  --foreground: #58483b;
  --foreground-hover: #635142;

  --foreground-light: #332b24;
  --foreground-light-hover: #332b24;
  --foreground-light-selected: #251f1a;

  --highlight: #82b74bff;
  --highlight-hover: #8ac24e;

  --link-color: #2C78BF;
  --link-color_clicked: #005eff;

  --warning-red: #e24a4a;

  --border: #303030;
  --border-hover: #3c3c3c;

  --toast-shadow: #151515;
} */

/* TODO: not monotone */

:root {
  --font-color: rgb(183, 232, 252);

  --background: #070F2B;

  --foreground: #3b52a5;
  --foreground-hover: #4a62b9;

  /* TODO: these need work */
  --foreground-light: rgba(50, 72, 212, 0.9);
  --foreground-light-hover: #332b24;
  --foreground-light-text: #74d9e9;

  /* TODO: these need work */
  --highlight: #369cfb;
  --highlight-hover: #479ded;

  /* TODO: these need work */
  --link-color: #2C78BF;
  --link-color_clicked: #005eff;

  /* TODO: these may need work */
  --border: #1c2855;
  --border-hover: #233269;
}